*.lo
Makefile
config.log
config.status
libpth.la
libtool
pth-config
pth.h
pth_acdef.h
pth_acmac.h
pth_p.h
test_httpd
test_misc
test_mp
test_philo
test_select
test_sfio
test_sig
test_std
test_uctx
.done-all
.libs
